html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 800px;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  font-family: sans-serif;
  color: #666;
}

.card {
  box-sizing: border-box;
  width: 300px;
  height: 420px;
  padding: 30px 50px;
  border-radius: 24px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  background-size: 100.5%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.front {
  background-image: url("../images/card_front.jpg");
}

.back {
  background-image: url("../images/card_back.jpg");
  cursor: pointer;
  margin-left: 150px;
  box-shadow: 0 10px #b0b0b0, 0 2px 6px 2px rgba(0, 0, 0, 0.15)
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.question {
  margin: auto;
  font-size: 24px;
}

.card-container {
  position: relative;
}

.counter {
  position: absolute;
  bottom: -50px;
  right: 20px;
  color: #aaa;
}
